body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  width: 600px;
  height: 400px;
  background-color: var(--background-color);
  color: var(--text-color) !important;
}

button {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 0.25rem;
  padding: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff; /* Text color for the header */
}

.container {
  margin-left: 10px;
  margin-right: 10px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  display: flex;
  gap: 20px;
}

.tab {
  padding: 8px 16px;
  border: none;
  color: var(--text-color);
  background-color: var(
    --button-background-color
  ); /* Background color for inactive tabs */
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  color: #fff; /* Text color for inactive tabs */
}

.tab:hover {
  background-color: #555; /* Background color for tabs on hover */
}

.tab.active {
  background-color: #007acc; /* Background color for the active tab */
  font-weight: bold; /* Bold text for the active tab */
}

.list {
  /* grid 5 rows max, 1 row min unlimited columns */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(100px, 1fr);

  gap: 10px;
  overflow-y: auto;
}

item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

item > .item {
  /* Includes both header text and image. Image is the main thing, whilst image name just provides a name for it. */

  display: flex;
  flex-direction: column;
  align-items: center;
}

item > .item > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0.25rem;
}

item > .item-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* Style for the table */
.custom-table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;

  padding: 8px;
  text-align: left;
}

.custom-table th {
  color: #fff; /* Header text color */
}

/* Style for the image */
.image {
  max-width: 100px; /* Set the maximum width for the image */
  max-height: 100px; /* Set the maximum height for the image */
  display: block; /* Remove any extra spacing around the image */
  margin: 0 auto; /* Center the image within its container */
}
/* Style for the checkbox */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.customCheckbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.customCheckbox:checked + .slider {
  background-color: #2196f3;
}

.customCheckbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.input-group > label {
  font-weight: bold;
}

.input-group > input {
  padding: 6px;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--button-background-color);
  color: var(--text-color);
}

.hidden {
  display: none;
}

:root {
  --background-color: #111827;
  --text-color: #fff;

  --button-background-color: #181e2b;

  --tab-bottom-border-color: #86aaf9;
}
